.card {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    border: 1px solid #e0e0e0;
}

.img-fluid {
    border-radius: 1rem 0 0 1rem;
}

.card-body {
    padding: 4rem 2rem;
}

.fas {
    font-size: 2rem;
}