@model EmployeeAdvertisementPortal.LoginViewModel

@{
    ViewBag.Title = "ForgotPassword";
}
<link href="~/Content/Style/ForgotPassword.css" rel="stylesheet" />
<br />
<br />
<br />
<br />
<br />
<br />
<body>
    <div class="container py-3">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col col-xl-10">
                <div class="card" style="border-radius: 1rem;">
                    <div class="row g-0">
                        <div class="col-md-6 col-lg-5 d-none d-md-block">
                            <img src="~/Content/Images/forgotpassword.jpg"
                                 alt="Forgot password form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
                        </div>
                        <div class="col-md-6 col-lg-7">
                            <div class="card-body">
                                @using (Html.BeginForm())
                                {
                                    @Html.AntiForgeryToken()

                                    <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Forgot Password</h3>
                                    <div data-mdb-input-init class="form-outline mb-4">
                                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control form-control-lg", placeholder = "Email address" } })
                                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                    </div>
                                }

                                @if (ViewBag.ShowOtpMessage == true)
                                {
                                    <div id="otpMessage" class="alert alert-success alert-dismissible fade show" role="alert">
                                        Check your email for OTP.
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                    </div>
                                }
                                else
                                {
                                    <div id="emailNotFoundMessage" class="alert alert-danger alert-dismissible fade show" role="alert" style="display: none;">
                                        Email address not found.
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                    </div>
                                }
                              
                                <br />

                                    <div class="d-flex ">
                                        <input type="button" value="Reset Password" class="btn btn-dark btn-reset" onclick="showAlertAndSubmitForm();" />
                                        &nbsp;&nbsp;&nbsp;&nbsp; <button type="button" class="btn btn-reset" style="background-color: #FFC300;" onclick="redirectToLogin();">Back to Login</button>
                                    </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    function showAlertAndSubmitForm() {
        setTimeout(function () {
            document.forms[0].submit();
        }, 2000);
    }

    function redirectToLogin() {
        window.location.href = '@Url.Action("UserLogin", "Login")';
    }
</script>